{% extends "base.html" %}
{% block page_content %}

<p>Enter a new argument</p>
    <div id="antecedent_div">
    <input type="text" id="addclausetext"><button onclick="handlers.addClause()">Add Clause</button>
      <br>
      <p id="anterror" class="errortext"></p>
    </div>
    <div>
    <ol></ol>
    </div>
    <div id="conclusion_div">
      
    </div>
    <br>
    <div>
      <span id="validatemsg"></span>
      <button class="sidebutton" onclick="handlers.validate()">Validate</button>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/logic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/logic_interp.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/KB.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/newarg.js') }}"></script>
{{ super() }}
{% endblock %}